{{ if app_links_ios_url }}<meta property="al:ios:url" content="{{ app_links_ios_url }}" />{{ /if }}
{{ if app_links_ios_app_store_id }}<meta property="al:ios:app_store_id" content="{{ app_links_ios_app_store_id }}" />{{ /if }}
{{ if app_links_ios_app_name }}<meta property="al:ios:app_name" content="{{ app_links_ios_app_name }}" />{{ /if }}
{{ if app_links_iphone_url }}<meta property="al:iphone:url" content="{{ app_links_iphone_url }}" />{{ /if }}
{{ if app_links_iphone_app_store_id }}<meta property="al:iphone:app_store_id" content="{{ app_links_iphone_app_store_id }}" />{{ /if }}
{{ if app_links_iphone_app_name }}<meta property="al:iphone:app_store_id" content="{{ app_links_iphone_app_name }}" />{{ /if }}
{{ if app_links_ipad_url }}<meta property="al:ipad:url" content="{{ app_links_ipad_url }}" />{{ /if }}
{{ if app_links_ipad_app_store_id }}<meta property="al:ipad:app_store_id" content="{{ app_links_ipad_app_store_id }}" />{{ /if }}
{{ if app_links_ipad_app_name }}<meta property="al:ipad:app_name" content="{{ app_links_ipad_app_name }}" />{{ /if }}
{{ if app_links_android_url }}<meta property="al:android:url" content="{{ app_links_android_url }}" />{{ /if }}
{{ if app_links_android_package }}<meta property="al:android:package" content="{{ app_links_android_package }}" />{{ /if }}
{{ if app_links_android_class }}<meta property="al:android:class" content="{{ app_links_android_class }}" />{{ /if }}
{{ if app_links_android_app_name }}<meta property="al:android:app_name" content="{{ app_links_android_app_name }}" />{{ /if }}
{{ if app_links_wp_url }}<meta property="al:windows_phone:url" content="{{ app_links_wp_url }}" />{{ /if }}
{{ if app_links_wp_app_id }}<meta property="al:windows_phone:app_id" content="{{ app_links_wp_app_id }}" />{{ /if }}
{{ if app_links_wp_app_name }}<meta property="al:windows_phone:app_name" content="{{ app_links_wp_app_name }}" />{{ /if }}
{{ if app_links_win_url }}<meta property="al:windows:url" content="{{ app_links_win_url }}" />{{ /if }}
{{ if app_links_win_app_id }}<meta property="al:windows:app_id" content="{{ app_links_win_app_id }}" />{{ /if }}
{{ if app_links_win_app_name }}<meta property="al:windows:app_name" content="{{ app_links_win_app_name }}" />{{ /if }}
{{ if app_links_win_uni_url }}<meta property="al:windows_universal:url" content="{{ app_links_win_uni_url }}" />{{ /if }}
{{ if app_links_win_uni_app_id }}<meta property="al:windows_universal:app_id" content="{{ app_links_win_uni_app_id }}" />{{ /if }}
{{ if app_links_win_uni_app_name }}<meta property="al:windows_universal:app_name" content="{{ app_links_win_uni_app_name }}" />{{ /if }}
{{ if app_links_web_url }}<meta property="al:web:url" content="{{ app_links_web_url }}" />{{ /if }}
{{ if app_links_web_should_fallback }}<meta property="al:web:should_fallback" content="{{ app_links_web_should_fallback }}" />{{ /if }}