{{ if apple_format_detection }}<meta name="format-detection" content="{{ apple_format_detection | join }}" />{{ /if }}
{{ if apple_apple_itunes_app }}<meta name="apple-itunes-app" content="{{ apple_apple_itunes_app }}" />{{ /if }}
{{ if apple_apple_mobile_web_app_capable }}<meta name="apple-mobile-web-app-capable" content="{{ apple_apple_mobile_web_app_capable }}" />{{ /if }}
{{ if apple_apple_mobile_web_app_status_bar_style }}<meta name="apple-mobile-web-app-status-bar-style" content="{{ apple_apple_mobile_web_app_status_bar_style }}" />{{ /if }}