{{ if dublin_core_advanced_abstract }}<meta name="dcterms.abstract" content="{{ dublin_core_advanced_abstract }}" />{{ /if }}
{{ if dublin_core_advanced_access_rights }}<meta name="dcterms.accessRights" content="{{ dublin_core_advanced_access_rights }}" />{{ /if }}
{{ if dublin_core_advanced_accrual_method }}<meta name="dcterms.accrualMethod" content="{{ dublin_core_advanced_accrual_method }}" />{{ /if }}
{{ if dublin_core_advanced_accrual_periodicity }}<meta name="dcterms.accrualPeriodicity" content="{{ dublin_core_advanced_accrual_periodicity }}" />{{ /if }}
{{ if dublin_core_advanced_accrual_policy }}<meta name="dcterms.accrualPolicy" content="{{ dublin_core_advanced_accrual_policy }}" />{{ /if }}
{{ if dublin_core_advanced_alternative }}<meta name="dcterms.alternative" content="{{ dublin_core_advanced_alternative }}" />{{ /if }}
{{ if dublin_core_advanced_available }}<meta name="dcterms.available" content="{{ dublin_core_advanced_available }}" />{{ /if }}
{{ if dublin_core_advanced_bibliographic_citation }}<meta name="dcterms.bibliographicCitation" content="{{ dublin_core_advanced_bibliographic_citation }}" />{{ /if }}
{{ if dublin_core_advanced_conforms_to }}<meta name="dcterms.conformsTo" content="{{ dublin_core_advanced_conforms_to }}" />{{ /if }}
{{ if dublin_core_advanced_created }}<meta name="dcterms.created" content="{{ dublin_core_advanced_created }}" />{{ /if }}
{{ if dublin_core_advanced_date_accepted }}<meta name="dcterms.dateAccepted" content="{{ dublin_core_advanced_date_accepted }}" />{{ /if }}
{{ if dublin_core_advanced_date_copyrighted }}<meta name="dcterms.dateCopyrighted" content="{{ dublin_core_advanced_date_copyrighted }}" />{{ /if }}
{{ if dublin_core_advanced_date_submitted }}<meta name="dcterms.dateSubmitted" content="{{ dublin_core_advanced_date_submitted }}" />{{ /if }}
{{ if dublin_core_advanced_education_level }}<meta name="dcterms.educationLevel" content="{{ dublin_core_advanced_education_level }}" />{{ /if }}
{{ if dublin_core_advanced_extent }}<meta name="dcterms.extent" content="{{ dublin_core_advanced_extent }}" />{{ /if }}
{{ if dublin_core_advanced_has_format }}<meta name="dcterms.hasFormat" content="{{ dublin_core_advanced_has_format }}" />{{ /if }}
{{ if dublin_core_advanced_has_part }}<meta name="dcterms.hasPart" content="{{ dublin_core_advanced_has_part }}" />{{ /if }}
{{ if dublin_core_advanced_has_version }}<meta name="dcterms.hasVersion" content="{{ dublin_core_advanced_has_version }}" />{{ /if }}
{{ if dublin_core_advanced_instructional_method }}<meta name="dcterms.instructionalMethod" content="{{ dublin_core_advanced_instructional_method }}" />{{ /if }}
{{ if dublin_core_advanced_is_format_of }}<meta name="dcterms.isFormatOf" content="{{ dublin_core_advanced_is_format_of }}" />{{ /if }}
{{ if dublin_core_advanced_is_part_of }}<meta name="dcterms.isPartOf" content="{{ dublin_core_advanced_is_part_of }}" />{{ /if }}
{{ if dublin_core_advanced_is_referenced_by }}<meta name="dcterms.isReferencedBy" content="{{ dublin_core_advanced_is_referenced_by }}" />{{ /if }}
{{ if dublin_core_advanced_is_replaced_by }}<meta name="dcterms.isReplacedBy" content="{{ dublin_core_advanced_is_replaced_by }}" />{{ /if }}
{{ if dublin_core_advanced_is_required_by }}<meta name="dcterms.isRequiredBy" content="{{ dublin_core_advanced_is_required_by }}" />{{ /if }}
{{ if dublin_core_advanced_issued }}<meta name="dcterms.issued" content="{{ dublin_core_advanced_issued }}" />{{ /if }}
{{ if dublin_core_advanced_is_version_of }}<meta name="dcterms.isVersionOf" content="{{ dublin_core_advanced_is_version_of }}" />{{ /if }}
{{ if dublin_core_advanced_license }}<meta name="dcterms.license" content="{{ dublin_core_advanced_license }}" />{{ /if }}
{{ if dublin_core_advanced_mediator }}<meta name="dcterms.mediator" content="{{ dublin_core_advanced_mediator }}" />{{ /if }}
{{ if dublin_core_advanced_medium }}<meta name="dcterms.medium" content="{{ dublin_core_advanced_medium }}" />{{ /if }}
{{ if dublin_core_advanced_modified }}<meta name="dcterms.modified" content="{{ dublin_core_advanced_modified }}" />{{ /if }}
{{ if dublin_core_advanced_provenance }}<meta name="dcterms.provenance" content="{{ dublin_core_advanced_provenance }}" />{{ /if }}
{{ if dublin_core_advanced_references }}<meta name="dcterms.references" content="{{ dublin_core_advanced_references }}" />{{ /if }}
{{ if dublin_core_advanced_replaces }}<meta name="dcterms.replaces" content="{{ dublin_core_advanced_replaces }}" />{{ /if }}
{{ if dublin_core_advanced_requires }}<meta name="dcterms.requires" content="{{ dublin_core_advanced_requires }}" />{{ /if }}
{{ if dublin_core_advanced_rights_holder }}<meta name="dcterms.rightsHolder" content="{{ dublin_core_advanced_rights_holder }}" />{{ /if }}
{{ if dublin_core_advanced_spatial }}<meta name="dcterms.spatial" content="{{ dublin_core_advanced_spatial }}" />{{ /if }}
{{ if dublin_core_advanced_table_of_contents }}<meta name="dcterms.tableOfContents" content="{{ dublin_core_advanced_table_of_contents }}" />{{ /if }}
{{ if dublin_core_advanced_temporal }}<meta name="dcterms.temporal" content="{{ dublin_core_advanced_temporal }}" />{{ /if }}
{{ if dublin_core_advanced_valid }}<meta name="dcterms.valid" content="{{ dublin_core_advanced_valid }}" />{{ /if }}