{{ if site_verifications_bing }}<meta name="msvalidate.01" content="{{ site_verifications_bing }}" />{{ /if }}
{{ if site_verifications_baidu }}<meta name="baidu-site-verification" content="{{ site_verifications_baidu }}" />{{ /if }}
{{ if site_verifications_google }}<meta name="google-site-verification" content="{{ site_verifications_google }}" />{{ /if }}
{{ if site_verifications_norton }}<meta name="norton-safeweb-site-verification" content="{{ site_verifications_norton }}" />{{ /if }}
{{ if site_verifications_pinterest }}<meta name="p:domain_verify" content="{{ site_verifications_pinterest }}" />{{ /if }}
{{ if site_verifications_pocket }}<meta name="pocket-site-verification" content="{{ site_verifications_pocket }}" />{{ /if }}
{{ if site_verifications_yandex }}<meta name="yandex-verification" content="{{ site_verifications_yandex }}" />{{ /if }}
{{ if site_verifications_zoom }}<meta name="zoom-domain-verification" content="{{ site_verifications_zoom }}" />{{ /if }}